@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  @apply bg-slate-900;
}

body {
  font-family: "Inter";
}

.banner {
  aspect-ratio: 16/9;
  width: 800px;
  min-height: 600px;
}

@media print {
  nav,
  .banner,
  .btn-print,
  #lab {
    display: none;
  }
}
